* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
   min-height: 100vh;
}

h1, ul {
   font-family: 'Mulish', sans-serif;
}

li, a {
   list-style: none;
   text-decoration: none;
}

button {
   border: none;
}